$glyphicons-halflings-class-prefix: glyphicon;
$glyphicons-halflings-include-bonus: false;
$glyphicons-halflings-font-path: '../../fonts';

@import "node_modules/glyphicons-halflings/scss/glyphicons-halflings";
@import "node_modules/simple-line-icons/scss/simple-line-icons";
@import "node_modules/font-awesome/scss/font-awesome";
@import "../coreui/node_modules/@coreui/icons/scss/coreui-icons.scss";
