$border-radius:                     0;
$border-radius-lg:                  0;
$border-radius-sm:                  0;

@import "../../coreui/node_modules/@coreui/coreui-pro/scss/_variables";

$navbar-bg:                         #2F414A;
$navbar-brand-bg:                   transparent;
$navbar-brand-width:                144px;

$navbar-color:                        $gray-100;
$navbar-hover-color:                  $gray-200;
$navbar-active-color:                 $gray-200;
$navbar-disabled-color:               $gray-600;

$sidebar-nav-link-padding-y:          .5rem;
$sidebar-nav-link-padding-x:          1rem;
$sidebar-width:                       220px;

@import "../../coreui/src/scss/style";

@import "../common/custom";

.navbar-brand {
  background: url(img/navbar_logo.png) no-repeat;
  margin-top: 2px;
}

.favicon {
  background: url(img/favicon.png) no-repeat;
}

.app-header {
  /* Header Search */
  form input {
    background-color: rgba(255, 255, 255, 0.1);
    border-bottom: none;
  }
}