$border-radius:                     0;
$border-radius-lg:                  0;
$border-radius-sm:                  0;

$navbar-bg:                         #ffffff;
$navbar-brand-bg:                   transparent;
$navbar-brand-width:                150px;

$sidebar-nav-link-padding-y:          .5rem;
$sidebar-nav-link-padding-x:          1rem;
$sidebar-width:                       220px;

@import "../../coreui/src/scss/style";

@import "../common/custom";

.navbar-brand:empty {
  background: url(img/navbar_logo.svg) no-repeat;
  background-size: contain;
  margin-top: 5px;
}

.favicon {
  background: url(img/favicon.svg) no-repeat;
}