$border-radius:                     0;
$border-radius-lg:                  0;
$border-radius-sm:                  0;

@import "../../coreui/node_modules/@coreui/coreui-pro/scss/_variables";

$navbar-bg:                         #4A4C7D;
$navbar-brand-bg:                   transparent;
$navbar-brand-width:                70px;

$navbar-color:                        $gray-100;
$navbar-hover-color:                  $gray-200;
$navbar-active-color:                 $gray-200;
$navbar-disabled-color:               $gray-600;

$sidebar-nav-link-padding-y:          .5rem;
$sidebar-nav-link-padding-x:          1rem;
$sidebar-width:                       220px;

@import "../../coreui/src/scss/style";

@import "../common/custom";

.navbar-brand {
  background: url(img/navbar_logo.png) no-repeat;
  margin-top: 2px;
}

.app-header {
  /* Header Search */
  form input {
    background-color: rgba(255, 255, 255, 0.1);
    border-bottom: none;
  }
}

.favicon {
  background: url(img/favicon.png) no-repeat;
}

body.guest {
  height: 100%;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $font-family-sans-serif;
  font-size: 13px;
  background: $navbar-bg no-repeat;
  color: #FFFFFF;

  background: url(./img/bg_login.jpg) no-repeat center center fixed;
  background-color: #232626;

  /* Header */
  #header {
    max-width: 1280px;
    margin: 10px auto 10px auto;
  }

  #header-separator {
    border: 1px solid rgba(255, 255, 255, 0.1);
  }

  .container::before, .container::after {
    content: " ";
    display: table;
  }

  h1.logo {
    text-indent: -9999px;
    width: 100px;
    height: 63px;
    background: #ffffff url(./img/logo_login.png) no-repeat center center;
    padding: 5px;
    margin: auto auto auto 40px;
    display: inline-block;
    box-sizing: content-box;
  }

  h2 {
    text-align: center;
    margin: 15px 0;
    font-size: 36px;
    text-transform: uppercase;
  }

  h3 {
    text-align: center;
    margin: 10px 0;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 10px;
  }

  /* Main */
  .form-group {
    max-width: 320px;
    margin: 0 auto;
  }

  .box {
    margin-top: 160px;
  }

  #main {
    margin: 0 auto;
    max-width: 320px;
  }

  /* Form */
  .submit-button {
    background: #F47920;
    color: #FFFFFF;
    border: none;
    height: 36px;
    font-size: 14px;
    font-weight: bold;
    font-family: $font-family-sans-serif;
    cursor: pointer;
    outline: none;
    padding: 0 20px;
    @include transition(background 0.2s);
    &:hover, &:focus {
      background: #F48F4A;
    }
  }
  form {
    fieldset {
      margin-top: 30px;
    }
    legend {
      display: none;
    }
    .form-group {
      position: relative;
      text-align: center;
    }
    .form-control {
      margin-bottom: 20px;
      border: none;
      outline: none;
      padding: 10px 20px;
      color: #FFFFFF;
      font-size: 14px;
      font-family: $font-family-sans-serif;
      width: 100%;
      background: rgba(255, 255, 255, 0.3) none;
      box-sizing: border-box;
      @include transition(all 0.3s);
      box-shadow: none;
      border-radius: 0;
      &:focus {
        border-bottom-color: #FFFFFF;
        box-shadow: none;
      }
    }

    .buttons {
      text-align: center;
    }
  }
  ::-webkit-input-placeholder {
    color: $gray-100;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: $gray-100;
  }
  ::-moz-placeholder {  /* Firefox 19+ */
    color: $gray-100;
  }
  :-ms-input-placeholder {
    color: $gray-100;
  }

  @media screen and (max-width: 480px) {
    .container {
      width: 100%;
      height: auto;
      min-width: 210px;
    }

    #header {
      text-align: center;
    }

    .box {
      margin-top: 40px;
    }

    h1.logo {
      margin: 0 auto;
    }

    h2 {
      font-size: 20px;
    }

    h3 {
      letter-spacing: 8px;
    }
  }
}

.layout-no-padding {
  .container-fluid {
    padding: 0;
  }

  .breadcrumb {
    margin: 0;
  }
}

.btn-times {
  background: #F47920;
  color: #FFFFFF;
  @include transition(background 0.2s);
  &:hover, &:focus {
    background: #F48F4A;
  }
}

.section-trace-track {
  background: url(./img/bg_track.jpg) no-repeat;
  background-size: cover;
  padding: 20px 50px;

  h2 {
    color: #686868;
    padding: 15px 4px;
    font-size: 21px;
  }

  textarea {
    width: 50%;
    height: 80px;
    background: rgba(255, 255, 255, 0.7);
    border: none;
    font-size: 15px;
    line-height: 20px;
    padding: 20px;
  }

  input {
    margin-top: 20px;
  }
}

.section-trace-track-result {
  padding: 20px 50px;

  h2 {
    color: #F47920;
    font-size: 21px;
    padding: 5px 0;
  }

  h3 {
    color: #686868;
    font-size: 21px;
    padding: 5px 0;
  }
}

.trace-track-line {
  background: url(./img/tracking_path.png);
  background-repeat: repeat-y;
  background-position: 18px 2px;

  .milestone {
    min-height: 47px;
    padding-left: 60px;
    margin: 15px 0;
    background: url(./img/tracking_point.png);
    background-repeat: no-repeat;
    background-position: left center;

    .milestone-description {
      background-color: #E2E3E5;
      border-radius: 20px;
      padding: 10px;
    }
  }

  .milestone:first-child {
    font-weight: bold;
  }

  .milestone:first-child, .milestone:last-child {
    background-color: inherit;
  }
}

.support-panel {
  textarea.form-control-special, input.form-control-special {
    background: #F5F6F8 none repeat scroll 0 0;
    border-radius: 5px;
    border: medium none;
    font-size: 15px;
    margin: 10px 0;
    width: 50%;
  }

  textarea.form-control-special {
    width: 100%;
    padding: 20px 15px;
  }
}

.sidebar .nav .nav-item .nav-link .badge {
  background-color: $gray-800;
  border-radius: 4px;
}

.btn .badge {
  background-color: #607d8b;
  color: #fff;
  margin-left: 8px;
  border-radius: 4px;
}

@media (max-width: 767px) {
  .section-trace-track {
    textarea {
      width: 100%;
    }
  }
}