// Here you can add other styles

/* Breadcrumb tweaks */
.breadcrumb .btn {
  color: #fff;
}

/* Sidebar tweaks */
.sidebar .nav .nav-item ul {
  padding-left: 16px;
}

.sidebar .nav-link i {
  margin: 0 0.5rem 0 0;
}

.app-header {
  form {
    line-height: 28px;
    padding: 5px 5px 5px 5px;
    margin-left: 12px;
  }

  /* Header Search */
  form input {
    margin-left: 5px;
    padding: 0 5px;
    border: 0;
    border-radius: 2px;
    background-color: transparent;
    color: $navbar-color;
    border-bottom: 1px solid #ccc;
  }

  form input::placeholder { /* WebKit, Blink, Edge */
    color: $navbar-color;
  }
  form input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: $navbar-color;
  }
  form input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: $navbar-color;
    opacity: 1;
  }
  form input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $navbar-color;
  }

  .navbar-nav {
    margin-right: 0.5rem;

    .nav-item {
      padding-right: 0.5rem;
    }
  }
}

/* Mobile Tweaks */
@include media-breakpoint-down(md) {
  .app-header.navbar {
    background-color: $navbar-bg;

    .navbar-brand {
      position: absolute;
      left: $navbar-brand-width;
    }
  }
}

@include media-breakpoint-only(xs){
  .main .container-fluid {
    padding: 0 10px;
  }

  .breadcrumb {
    margin-bottom: .75rem;
  }

  .card {
    margin-bottom: .75rem;
  }

  .card-block {
    padding: 1rem 0.5rem;
  }
}

/* Form Tweaks */
.alert ul {
  margin-bottom: 0;
}

.form-group span.required {
  color: #f00;
}

/* Breadcrumb Action button tweaks */
.breadcrumb-menu {
  position: absolute;
  right: 0;
  top: 0;

  .btn {
    padding-top: .75rem;
    padding-bottom: .75rem;
    border-radius: 0;
  }
}

/* Footer Tweaks */
.form-footer {
  padding-top: 10px;
}

/* Bootstrap 4 Buttons fixes */
$btn-padding-x-xs: .38rem !default;
$btn-padding-y-xs: .18rem !default;

$border-radius-xs: $border-radius !default;

.btn-xs {
  @include button-size($btn-padding-y-xs, $btn-padding-x-xs, $font-size-base, $font-size-base, $border-radius-xs);
}

/* Select2 Style fix */
.select2-container--bootstrap .select2-selection {
  border-radius: $border-radius;
}